# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/
gradle.properties
test/Extest.java
.classpath
.classpath
.classpath
FileInputConfig
.classpath
.classpath
