# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/
gradle.properties
test/Extest.java
.classpath
.classpath
.classpath
FileInputConfig
.classpath
.classpath
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.settings/org.eclipse.jdt.core.prefs
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.settings/org.eclipse.jdt.core.prefs
UserData.txt
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.settings/org.eclipse.jdt.core.prefs
UserData.txt
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.settings/org.eclipse.jdt.core.prefs
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.settings/org.eclipse.jdt.core.prefs
